{% extends "base.html" %}
{% block title %} Add Balance {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
     {% for msg in messages %}
       <p>{{msg}}</p>
     {% endfor %}
   {% endif %}
 {% endwith %}
<form>
   <head>
       <link rel="stylesheet" href="{{ url_for('static',filename='css/addbalance.css')}}">
       <link href="https://fonts.googleapis.com/css?family=Arial" rel="stylesheet">
       <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
       <title>Add Balance Page</title>
   </head>
 
   <body style="background-color: #2C3B4E;">
       <!-- <h1 style="color: white;">Add Balance Page</h1> -->
       <h1>Add Balance</h1>
       <a href="{{ url_for('home')}}">Return to HomePage</a>  
       <br>
       <a href="{{ url_for('user')}}">Return to Account Page</a>  
 
       <h3>Hi {{first_name}}, your current balance is:</h3>
       <br>
       <h2>{{currentBalance[0]}}</h2>
   </body>
</form>
{% endblock %}