<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/addreview.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Arial" rel="stylesheet">
        <!-- Load icon library -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Add Review Page</title>
    </head>
   
    <body style="background-color: #2C3B4E;">
        <h1 style="color: white;">Add A Review</h1>
        <a href="{{ url_for('home')}}">Return to Homepage</a>	
        <br>
        <a href="{{ url_for('user')}}">Return to Account Page</a>	

        <h3 style="border: 2px solid orange; border-radius: 5px; height: 80%; width: 75%;">
        </h3>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for msg in messages %}
                  <p>{{msg}}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <div class="main">
                <label for="title">Title</label>
                <input class="title" type="text" align="center" name ="tit">
                <label for="body">Body</label>
                <input class="body" type="text" align="center" name ="body" placeholder="Type your review...">
                <label for="title">Star Rating</label>
                <input class="title" type="text" align="center" name ="stars" placeholder="Stars">
                <input type="submit" value="Submit"/> </p>
    </body>
</html>