<!DOCTYPE html>
<html>
    <!-- <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/homepage.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Arial" rel="stylesheet"> -->
        <!-- Load icon library -->
	    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Homepage</title>
    </head> --> 
{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
<div class="searchbar">
	<img src="/static/png/amazonLogo.png" alt="Logo" style="width:100px;height:40px;">
	<form class="search" action="#" method = "POST">
  	<input class= "searchinput" type="text" placeholder="Search for an item" name="search">
  	<button type="submit"><i class="fa fa-search"></i></button>
  </form>

{% endblock %}
  

</html>