{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
<div class="searchbar">
	<img src="/static/png/amazonLogo.png" alt="Logo" style="width:100px;height:40px;">
	<form class="search" action="action_page.php">
  	<input type="text" placeholder="Search for an item" name="search">
  	<button type="submit"><i class="fa fa-search"></i></button>
	</form>
</div>
{% endblock %}




<!-- <!DOCTYPE html>
<html>



<body>
	<div class="searchbar">
	<img src="/static/png/amazonLogo.png" alt="Logo" style="width:100px;height:40px;">
	<form class="search" action="action_page.php">
  	<input type="text" placeholder="Search for an item" name="search">
  	<button type="submit"><i class="fa fa-search"></i></button>
	</form>
	</div>

<div class = "linkout">
	<center>
	<a href="{{ url_for('login')}}">Log in</a>
	<br>
	<a href="{{ url_for('user')}}">Account</a>	
	<br>
	<a href="{{ url_for('registration')}}">Creat an Account</a>	
	<br>
	<a href="{{ url_for('cart')}}">Cart</a>	
	<br>
	<a href="{{ url_for('searchresults')}}">Temporary link to search results page</a>	
    </center>
</div>


</body>
</html> -->