<!DOCTYPE html>
<html>


<head>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/homepage.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Arial" rel="stylesheet">
	<!-- Load icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>Mini Amazon Homepage</title>
</head>



<body>
	<div class="searchbar">
	<img src="/static/png/amazonLogo.png" alt="Logo" style="width:100px;height:40px;">
	<!-- The form -->
	<form class="search" action="action_page.php">
  	<input type="text" placeholder="Search for an item" name="search">
  	<button type="submit"><i class="fa fa-search"></i></button>
	</form>
	</div>

<div class = "linkout">
	<center>
	<a href="{{ url_for('login')}}">Log in</a>
	<br>
	<a href="{{ url_for('user')}}">Account</a>	
	<br>
	<a href="{{ url_for('registration')}}">Create an Account</a>	
	<br>
	<a href="{{ url_for('cart')}}">Cart</a>	
	<br>
	<a href="{{ url_for('searchresults')}}">Temporary link to search results page</a>	
	<br>
	<a href="{{ url_for('addbalance')}}">Add Balance To Account</a>	
    </center>
</div>


</body>
</html>