{% extends "base.html" %}
{% block title %} Seller Page {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <center>
    <h3>Updated Information</h3>
    
    <div class ="row">
      <div class ="col-md-4 offset-md-4">
        <div class = "card card-body">
          <form action= "#" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <input type = "text" class ="form-control" name = "newfirst" placeholder ="First Name">
            </div>
            <div class ="form-group">
              <input type = "text" class ="form-control" name = "newlast" placeholder ="Last Name">
            </div>
            <div class ="form-group">
              <input type = "text" class ="form-control" name = "newemail" placeholder ="Email Address">
            </div>
            <div class ="form-group">
              <input type = "text" class ="form-control" name = "newpass" placeholder ="Password">
            </div>
            <div class ="form-group">
              <input type = "file" class ="form-control" name = "newimage" placeholder ="Image" >
            </div>
            <div class ="form-group">
              <button type ="submit" class ="btn btn-primary btn-block">
                Update
              </button>
            </div>
    
            
          </form>
    
        </div>
      </div>
    </div>
    </center> 

<h3>Modifying item </h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item ID</th>
      <th scope="col">Item Name</th>
      <th scope="col">Price</th>
      <th scope="col">Count</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{item[0].itemID}}</td>
      <td>{{item[0].name}}</td>
      <td>{{item[0].price}}</td>
      <td>{{item[0].num}}</td>
      <td>{{item[0].description}}</td>
      <td>{{item[0].image}}</td>  
    </tr>
  </tbody>
</table>

{% endblock %}