<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/seller_items.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Arial" rel="stylesheet">
  <!-- Load icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Seller Page</title>
</head>
<body>
  <!-- <div class="searchbar">
  <img src="amazonLogo.png" alt="Logo" style="width:100px;height:40px;"> -->
  <!-- The form -->
  <!-- <form class="search" action="action_page.php">
    <input type="text" placeholder="Search for an item" name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  </div> -->
  <h1>List an item!</h1>
  <form method="POST" action="">
    Item <input type="text" name="item"/>
    <br>
    Price <input type="number" name="price"/>
    <br>
    Quantity <input type="number" name="quantity"/>
    <br>
    Seller <input type="text" name="seller"/>
    <br>
    <input type="submit">


</form>

  <!-- Seller Page -->
  <title>Seller Items</title>
</head>
<br>
</br>
<body>

  <!-- <div class = "name"> Hello Meghan!
  
  <div class="mom">
    <div class="child">
        <div class="childinner"><img src="item.png" alt="item" style="width:200px;height:200px;"></div>
        <div class="childinner">Ritsila Women's Multi Colour Style Sleeve-Less Round Neck Full Maxi</div>
        <div class="childinner">Price: $19.99</div>
        <div class="childinner"><img src="rating.png" alt="item" style="width:120px;height:40px;"></div>
    </div> 
    </div>
    </div>    
    </div> -->
</div>

</body>
</html>