<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/seller_items.css">
  <link href="https://fonts.googleapis.com/css?family=Arial" rel="stylesheet">
  <!-- Load icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Seller Items</title>
</head>
<body>
   <p class="name" align="left">Name: </p>
   <p class="name" align="left">Your current avatar: </p>
  <img src="user.png" style="width:100px;height:40px;">
  <!-- The form -->
  <br> <br>
  <img src="item.png" style="width:100px;height:40px;">
  <p class="name" align="left"> Women Summer Tunic Dress V Neck Casual Loose Flowy Swing Shift Dresses</p>
  <p class="name" align="left">Product rating: </p>
  <img src="rating.png" style="width:100px;height:40px;">
  <button class="button modify">Modify Item</button>



</body>
</html>
