{% extends "base.html" %}
{% block title%}User Page{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <!--Display: Welcome to your user page, *First Name of User*-->
  <h2>Welcome to your user page, {{user}}</h2>
  <h3>Your User Profile</h3>
  
  <!--Figure out how to display info passed in; initially can't update it;
    then we can figure out how to update it
  -->

  {% if seller == true %}
  <center>
    <a href="{{ url_for('seller')}}">Access Seller Page</a>
  </center>
  {% endif %}
{% endblock %}
