{% extends "base.html" %}
{% block title %} Seller Page {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
<h2>View reviews from other customers!</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Item ID</th>
        <th scope="col">Star Rating</th>
        <th scope="col">Comments</th>
        <th scope="col">Time Posted</th>
      </tr>
    </thead>
    <tbody>
        {% for row in reviews %}
            <tr>
                {% for d in row %}
                <td>{{d}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    </tbody>
    </table>
    </body>
{% endblock %}